<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>7bits-frontend-2016</title>
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700" rel="stylesheet">
  </head>
  
  <body>
		<header class="header">
			<div class="header__logo">
				<a href ="index.html"><img src="../images/PaloAlto.png" alt="Palo Alto"></a>
			</div>
			<nav class="nav">
				<a class="nav__ref" href="index.html">home</a>
				<a class="nav__ref" href="index.html">about</a>
				<a class="nav__ref "href="index.html">archive</a>
				<a class="nav__ref_color-gray">contact</a>
				<a class="nav__ref-src" href="index.html"></a>
			</nav>
		</header>
		
		<main>
			<section class="block-content">
				<article class="block-content__internal">
					<div class="title-text_padding">contact us</div>
					<div class="main-text">Nam in maximus arcu, ac aliquam tellus. Donec vestibulum ipsum nunc, at placerat ante posuere non. Integer at dui a lacus suscipit elementum id non massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc eu neque eros. Ut eu quam justo.</div>
					<hr class="block-content__line"></hr>
					<form action="#">
						<input class="form-contact form-contact__name" id="1" tabindex="1" autofocus name="username" placeholder="Your Name">
						<input class="form-contact form-contact__email" id="2" tabindex="2" name="email" placeholder="Email">
						<input class="form-contact form-contact__subject" id="3" tabindex="3" name="text" placeholder="Subject">
						<textarea class="form-contact form-contact__message" id="4" tabindex="4" name="message" placeholder="Your Message"></textarea>
						<input class="form-send block-content__pressbutton_size-24" type="submit" value="send message">
					</form> 
				</article>
			</section>
		</main>
		
		<footer class="footer">
			<div class="footer__internal">
				<div class="footer__logo"><a href ="index.html"><img src="../images/PaloAlto.png" alt="Palo Alto"></a></div>
				<div class="footer__nav">
					<a class="nav__ref_color-gray">home</a>
					<a class="nav__ref_style" href="index.html">about</a>
					<a class="nav__ref_style "href="index.html">archive</a>
					<a class="nav__ref_style "href="contacts.html">contact</a>
					<div class="footer__background"><a class="nav__ref-src_color-white" href="index.html"></a></div>
				</div>
				<hr class="footer__line"></hr>
				<div class="footer__text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.</div>
				<hr class="footer__line_small"></hr>
				<div class="footer__text_size-14">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by
				<a class="footer__text-lato-bold" href="#" target="_blank">PixelBuddha Team</a></div> 
				<div class="share-icons">
					<a class="icons__background" href="#" target="_blank"><div class="share-icons__img_facebook"></div></a>
					<a class="icons__background" href="#" target="_blank"><div class="share-icons__img_twitter"></div></a>
					<a class="icons__background" href="#" target="_blank"><div class="share-icons__img_instagram "></div></a>
					<a class="icons__background" href="#" target="_blank"><div class="share-icons__img_pinterest"></div></a>
				</div>
			</div>
		</footer> 

  </body>

</html>